vid2vid/debug*
vid2vid/checkpoints/
vid2vid/datasets/
vid2vid/models/flownet2*
vid2vid/results/
vid2vid/build/
*/Thumbs.db
**__pycache__
**.pyc
**.so*
**.dylib*
**.DS_Store
**~


**.swp
**.tar
logs/**
**.egg
**.egg-info
